	/* rwa-toolkit.css verion 1.0 July 2011
	 All styles created here are to be used with all supplied lbi files. None of the style names are to 
	 be changed. If image paths are changed then the new images need to be provided in the correct images folder.
	 When changing syles please check compatability in all browsers. */


	/* Basic text elements */
	
	body {font-family: Arial, Helvetica, sans-serif; color: #333;}
    a {outline: none;}

	
/* large css button styling with ie hack */

.btn {display: block;background: #fff;padding: 3px 5px;float: left;font: bold 12px Arial, Helvetica, sans-serif;color: #FFF;text-decoration: none;cursor: pointer;margin-right: 4px;margin-left: 4px;border:1px solid #FF6633;-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
.btn.orange { background-image: url(..../images/branding/rwa-toolkit/buttons/shade.png); background-position: bottom; }


/* ie hack */
* html .btn span,
* html .btn i { float: left; width: auto; background-image: none; cursor: pointer; }
* html .btn { border:1px solid #FF6633; }
* html .btn.orange { background-image: url(../images/branding/rwa-toolkit/buttons/shade.png); background-position: bottom; }


/* small css button styling with ie hack */

.btns {display: block;background: #fff;padding: 3px 5px;float: left;font: bold 10px Arial, Helvetica, sans-serif;color: #FFF;text-decoration: none;cursor: pointer;margin-right: 4px;margin-left: 4px;border:1px solid #FF6633;}
.btns.orange {background-image: url(../images/branding/rwa-toolkit/buttons/shade.png); background-position: bottom;-moz-border-radius: 5px;
-webkit-border-radius: 5px;}


/* ie hack */
* html .btns span,
* html .btns i { float: left; width: auto; background-image: none; cursor: pointer;}
* html .btns { border: 3px double #aaa; }
* html .btns.orange {border:1px solid #FF6633;}


/* Best deals panel */

#bestdeals {float:left;width:228px;height:auto;margin-top: 10px; font-size:11px;}
#bestdeals #tab {width:114px;height:27px;background-image: url(../images/branding/rwa-toolkit/bestdeals/dealtab.jpg);text-align: center;background-repeat: no-repeat;font: bold 13px/27px Arial, Helvetica, sans-serif;color: #024A7F;display: block;}
#bestdeals #bg {border-top: 6px solid #1FA5D2;border-right: 1px solid #1FA5D2;border-bottom: 6px solid #1FA5D2;border-left: 1px solid #1FA5D2;background: #FFFFFF;}
#bestdeals #dealselect {width:219px; height:97px; background:#F9F9F9; margin-left:4px;}
#bestdeals label {font: bold 11px Arial, Helvetica, sans-serif;color: #024A7F;margin:2px 0 2px 4px;display: block;}
#bestdeals select{font: 10px Arial, Helvetica, sans-serif;color: #000000;margin-left:4px;}
#bestdeals select.size1 {width:102px; min-width:102px; max-width:102px;}
#bestdeals #dealchoice {width:226px;}
#bestdeals #dealchoice .border1 {border-top: 1px solid #024A7F;border-bottom: 1px solid #024A7F; height:25px;}
#bestdeals #dealchoice .deal_title_col {float:left;padding: 0 15px 0 10px;}
#bestdeals #dealchoice #deal_title_my {width:45px;height:28px;text-align: left;text-align:left;word-wrap:break-word;color:#333333;font-weight:bold;float: left;padding:0 35px 0 10px;}
#bestdeals #dealchoice #deal_title_my1 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my2 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my3 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my4 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my5 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my6 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my7 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my8 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my9 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my10 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my11 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my12 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my13 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my14 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my15 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my16 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my17 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my18 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my19 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my20 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my21 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my22 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my23 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}
#bestdeals #dealchoice #deal_title_my24 {float:left;width:35px;height:28px;text-align:left;word-wrap:break-word;color:#333333;}

#bestdeals #dealchoice .deal_title_colset {display:none;}
#bestdeals #dealchoice #deal_title_colset_0 {display:block;}
#bestdeals #dealchoice .deal_price_colset {display:none;}
#bestdeals #dealchoice #deal_price_colset_0 {display:block;}
#bestdeals #dealchoice #deal_resort_col {width:45px;text-align: left;text-align:left;word-wrap:break-word;float: left;padding:10px 45px 0 10px;}
#bestdeals #dealchoice #deal_resort_col .deal_resort {text-decoration:underline;}
#bestdeals #dealchoice #deal_resort_col a.deal_resort {text-decoration:underline;color:#333333;}
#bestdeals #dealchoice .deal_price_col {float:left;padding-top: 10px;width:60px;}
#bestdeals #dealchoice .deal_price {color:#FF6633; font-size:10px; text-decoration:none;}
#bestdeals #dealchoice a.deal_price {color:#FF6633; font-size:10px; text-decoration:none;}
#bestdeals #dealchoice a#deal_back { float:left; margin:5px 0 5px 120px;  width:45px; height:13px;background: url(../images/branding/rwa-toolkit/bestdeals/dealback.gif) no-repeat;}
#bestdeals #dealchoice a#deal_forward {float:left;margin:-17px 0 0 175px; width:45px;height:13px;background: url(../images/branding/rwa-toolkit/bestdeals/deal_forward.gif) no-repeat;} 



/* Marketing types menu */
#accordion {
	width: 190px;
	height: 300px;
	float: left;
}
/* accordion header */
#accordion h2 {margin:0;cursor:pointer;height: 40px;}
/* accordion images */
#accordion #suntab {background: url(../images/branding/rwa-toolkit/rightmenus/sunholidays-deselected.jpg) no-repeat;margin:0;cursor:pointer;height: 40px;}
#accordion #exotictab {background: url(../images/branding/rwa-toolkit/rightmenus/exoticholidays-deselected.jpg) no-repeat;margin:0;cursor:pointer;height: 40px;}
#accordion #wintertab {background: url(../images/branding/rwa-toolkit/rightmenus/winterholidays-deselected.jpg) no-repeat;margin:0;cursor:pointer;height: 40px;}
/* currently active header */
#accordion h2.current {background: url(../images/branding/rwa-toolkit/rightmenus/sunholidays.jpg) no-repeat;cursor:default;background-color:#fff;}
/* accordion pane */
#accordion .pane {background: url(../images/branding/rwa-toolkit/backgrounds/mtbg.jpg) 0 bottom;border-right: 1px solid #F1F2F3;border-left: 1px solid #F1F2F3;display:none; width:180px; height:182px;margin-left:7px;color:#fff;font-size:12px;}
/* a title inside pane */
#accordion .pane h3 {font-weight:normal;margin:0 0 -5px 0;font-size:16px;color:#999;}
#accordion .pane li {background: url(../images/branding/rwa-toolkit/rightmenus/arrow.gif) no-repeat 20px;list-style: none;text-indent: 40px;padding-top: 5px;
padding-bottom: 5px;}
#accordion .pane li a {color:#024A7F;text-decoration:none;text-indent: 20px;font-size: 12px;}






/*Tabbed Deaks Widget */

#deals-tab-box {
	height:132px;
	float:left;
	margin-top: 20px;
	width: 690px;
	margin-left: 25px;
}
#deals-tab-box #deals-tabs-area {width:150px;height:132px;float:left;}
ul.tabs2 {margin:0;padding:0;list-style:none;}
ul.tabs2 li {width: 141px;}
ul.tabs2 li a {background: url(../images/branding/rwa-toolkit/tabs/deals-tab-bg.jpg) repeat-x;padding-bottom: 10px;color:#024A7F;text-decoration:none;font-size: 11px;font-weight:bold;text-align: center;display: block;line-height: 15px;padding-top: 14px;outline: none;}
ul.tabs2 a:active {outline: none;	}
ul.tabs2 a.current {background-image: url(../images/branding/rwa-toolkit/tabs/deals-tab-up.gif);background-repeat: no-repeat;width:161px;margin-top: 0em;margin-right: 0em;margin-bottom: 0.25em;margin-left: -0.7em;z-index: 2;position: relative;outline: none;}
#deals-tab-box #deals-tabs-pane {width:526px;height:131px;background: #E4F5FA;border: 1px solid #CCCCCC;float:left;z-index: 1;}

/* deals tab pane styling */
#deals-tab-box #deals-tabs-pane .panes2 div {display:none;}

/* deals tab content styling */
#deals-tab-box #deals-tabs-pane #deals-tabs-content {width:164px;height:122px;float:left;margin-left:4px;background-image:url(../images/branding/rwa-toolkit/tabs/tabcontentbg.gif);background-repeat:no-repeat;margin-top: 4px;word-wrap:break-word;color:#024A7F;text-decoration:none;font-size: 11px;font-weight:bold;text-align: center;display: block;line-height: 12px;margin-right: 5px;}
#deals-tabs-content a {text-decoration:underline; color:#024A7F;}
#deals-tab-box #deals-tabs-pane #deals-tabs-content a:hover {text-decoration:underline; color:#1FA5D2;}
#deals-tab-box #deals-tabs-pane #deals-tabs-content .dealcontent {width:153px;height:112px;background-color:#E4F5FA;margin-top: 5px;margin-left: 4px;}







/* Flight offers table - Appears in tabbed offers widget */
#flightoffersbox {height:352px;float:left;width: 470px;margin-top: 10px; height:auto;}
.flighttdbg {background-color:#FF6633;color:#FFFFFF;text-decoration:none;font-size: 12px; font-weight:bold;}
#flighttable-border { border: 1px solid #024A7F;width:455px; }
#flighttable-title {float:left;color:#024A7F;font-size: 14px; font-weight:bold; margin: 10px 0 10px 0;}
.flighttd {color:#024A7F;text-decoration:none;font-size: 11px;}
.flighttd a {color:#024A7F;text-decoration:underline;}
.flighttdbold {color:#024A7F;text-decoration:none;font-size: 11px; font-weight:bold;}
.flighttdprice {color:#FF6633;text-decoration:underline;font-size: 11px; font-weight:bold;}
#advert-wrapper {float:left; width:682px; margin-top:20px; padding-bottom:20px;}



/* Featured Hotel Widget */

#fhtitle {width:188px; float:left;margin-top: 15px;margin-bottom: 10px;}
.fhtitleone {color:#FF9900;text-decoration:none;font-size: 16px;font-weight:bold;}
.fhtitletwo {color:#1FA5D2;text-decoration:none;font-size: 16px; font-weight:bold;}
#fhbox {
	width:188px;
	height:auto;
	border: 1px solid #1FA5D2;
	float:left;
	margin-bottom: 10px;
}
#fhbox  #hoteltitle {color:#024A7F;text-decoration:none;font-size: 11px;font-weight:bold;line-height: 15px;padding: 10px 0 5px 7px;}
#fhbox  #hoteltitle a {color:#024A7F;}
#fhbox  #starrating {float:left;margin: 5px 0 5px 7px;}
#fhbox  #thumb {float:left; border: 1px solid #ccc; padding:5px; margin: 5px 0 5px 7px;}
#fhbox  #hoteltext {
	float:left;
	
	color:#333;
	text-decoration:none;
	font-size: 11px;
	margin: 5px 0 5px 7px;
	width: 170px;
}
#fhbox #fhprice {float:left;color:#333333;text-decoration:underline;font-size: 11px;margin: 5px 0 5px 7px;}
#fhbox #fhprice .fhprice {color:#FF6633; font-weight:bold; text-decoration:underline;}
#fhbox #fhbutton {width:160px; float:left;padding-top: 10px; padding-left:37px;padding-bottom: 10px;}


/* Deals accordion Widget */

#deals-accordion {float: left;width: 486px; height:248px; padding-top:20px;}
/* Hotel accordion header */
#deals-accordion h2 {margin:0;cursor:pointer;background-color:#E4F5FA;width: 486px;height: 27px;font-size: 12px;color:#024A7F;
	background-image: url(../images/branding/rwa-toolkit/graphics/htarrow.gif);background-repeat: no-repeat;background-position: 440px center;text-indent: 20px;line-height: 24px;margin-bottom: 5px;border: 1px solid #CCCCCC;}
/* currently active header */
#deals-accordion h2.current {
	background-color:#024A7F;width: 486px;height:27px;font-size: 12px;color:#FFFFFF;background-image: url(../images/branding/rwa-toolkit/graphics/htarrow_current.gif);background-repeat: no-repeat;background-position: 440px center;text-indent: 20px;line-height: 24px;
}
/* accordion pane */
#deals-accordion .pane {display:none; width: 486px;}
.dealslink1  {color:#024A7F;font-size: 11px;}
.dealslink1 a {color:#024A7F;text-decoration:underline;}
.dealslink2   {color:#024A7F;font-size: 11px; font-weight:bold;}
.dealslink2 a {color:#024A7F;text-decoration:underline; font-weight:bold;}


/* End Deals accordion Widget */





/* Resort Tabs Widget */
#resorttabswrapper {width:677px;margin-top:10px;height:auto;float: left;margin-bottom: 10px;}
#resorttabswrapper #resortpane {border: 1px solid #CCCCCC;width:677px;height:auto;margin-bottom: 10px;float: left;position:relative;z-index:1;}
#resorttabswrapper #resortcontent {margin: 20px 0px 10px 10px;}
#resorttabswrapper #resortcontent #image {width:auto;height:auto;margin: 0 10px 0 0;}
#resorttabswrapper #resortcontent #info {width:657px;height:auto;float:left; font-size:12px;}
#resorttabswrapper #resortcontent #buttons {width:130px;height:24px;float:right; margin:15px 30px 15px 0;}
#resorttabswrapper #resortcontent #buttons a {font: 13px Arial, Helvetica, sans-serif;color: #177A9B; font-weight:bold;}
/* End Resort Tabs Widget */


/* Tabbed Map widget */

#filterbox {width: 302px;height:376px;background: #f89f21;border: 2px solid #000000;padding: 22px;}
#filterbox p {font: bold 14px Arial, Helvetica, sans-serif;color: #000000;}
#filterbox-search {float: left;width: 307px; margin: 10px 0 0 0;font: 11px Arial, Helvetica, sans-serif;}
#filterbox-search a {color:#3b5ea0;text-decoration:none;}
#filterbox-search a:hover {color:#3b5ea0;text-decoration:underline;}

.blackborder {border: 2px solid #000000;}

ul.desttabs {margin: 15px 0 0;padding: 0;float: left;list-style: none;height: 36px; /*--Set height of tabs--*/border-bottom: 2px solid #000;width: 311px;}
ul.desttabs li {float: left;margin: 0 2px -1px 2px;padding: 0;height: 34px; /*--Subtract 1px from the height of the unordered list--*/line-height: 34px;border-left: 2px none #000000; /*--Pull the list item down 1px--*/overflow: hidden;position: relative;background: #fdbe5c;border-top: 2px solid #f89f21;max-width:81px;min-width:46px;text-align: center;}
ul.desttabs li span{line-height:14px;margin-top:3px;font-weight:bold;font-size: 12px;display: block;}
ul.desttabs li.active {float: left;margin: 0;padding: 0;height: 35px; /*--Subtract 1px from the height of the unordered list--*/line-height: 36px;border-left: 1px none #000000;margin-bottom: -1px; /*--Pull the list item down 1px--*/overflow: hidden;position: relative;background: #fdbe5c;border-top: 2px solid #000;border-right: 2px solid #000;border-left: 2px solid #000;}
ul.desttabs li a {text-decoration: none;color: #000;display: block;font-size: 11px;padding: 0 8px;outline: none;font-weight:bold;}
ul.desttabs li a:hover {background: #fdbe5c;}
html ul.desttabs li.active, html ul.desttabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/background: #ffe0b0;border-bottom: 1px solid #ffe0b0; /*--Makes the active tab look like it's connected with its content--*/}
.desttab_container {border: 2px solid #000;border-top: none;overflow: hidden;clear: both;float: left;width: 307px;background: #ffe0b0;height: 211px;}
.desttab_content {padding:12px;}
.desttab_content ul.col {float: left;width: 50%;margin: 0;padding: 0;list-style: none;}
.desttab_content li.col {float: left;width: 6em;}
.desttab_content ul {color:#3b5ea0; list-style:none;}
.desttab_content li a {color:#3b5ea0;list-style:none;text-decoration:none;font: 12px/20px Arial, Helvetica, sans-serif;}
.desttab_content li a:hover {color:#3b5ea0;text-decoration:underline;}

/* End Tabbed Map widget */






/* Deals scrolling widget */
#dealsoffersbox {float:left;width: 480px;margin-top: 10px;height:auto;border: 1px solid #CCCCCC; font-size:11px;}
#deal-wrapper {width:141px;float:left;height:auto;padding: 5px 0px 0px 13px;}
#deal-box {width:139px;height:auto;border: 1px solid #CCCCCC;float:left;padding: 2px;}
#dealinfo {float:left; font-weight:bold;}
.dealthumb {padding:5px;}
#deal-box  #dealtext  {color:#000000;text-decoration:none;font-size: 11px;padding-left: 5px;
	width:134px;}
#deal-box #deallink{float:right;width:auto;}
#deal-box #deallink a {color:#FF6633; font-weight:bold;text-decoration:underline;}
#dealsoffersbox #dealbuttons {width:120px;height:24px; float:left; margin:15px 30px 15px 350px; clear:both;}
#dealsoffersbox #dealbuttons a {font: 13px Arial, Helvetica, sans-serif;color: #177A9B; font-weight:bold;}


	/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.dealsscrollable {

	/* required settings */
	position:relative;overflow:hidden;width: 470px;height:570px;

}


/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.dealsscrollable .dealsitems {
	/* this cannot be too large */
	width:20000em;position:absolute;clear:both;
}

.dealsitems div {
	float:left;width:470px;}
	
/* End Deals scrolling widget */
